/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Styles */

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
    font-size: 1rem;
    font-family: 'Alike', serif;
    text-align: left;
    color:#453E4F;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
}

html,
body {
    height: 100%;
}

a {
  color: #453E4F;
  text-decoration: none;
}

h1 {
  color: #453E4F;
  font-family: 'Alike', serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  width: 100%;
}

span {
  font-weight: bold;
}

.period {
  color:rgb(255, 0, 123);
  font-weight: bold;
}

img {
  width: 100%
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.project-link {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #453E4F;
}

.about-header,
.skills-header, 
.projects-header {
  color:#81304f;
}


/* Structural Styles */

header, section, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-flow: row wrap;
    background-color:#FFE8D6;
}

.content.wrapper {
    width: 85%;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    overflow-wrap:  break-word;
    margin: 0;
}

p {
  margin: 10px;
}

header {
    padding-top: 30px;
    padding-bottom: 60px;
}

nav {
    margin-bottom: 40px;
}

#about,
#projects,
#skills {
    padding: 30px 0; 
}

footer {
  padding: 60px 0;
}




/**************** HEADER *********************/

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

#contact-link {
    background-color: #F19494;
    padding: 10px 10px;
    border-radius: 30px;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
}

nav ul {
    list-style: none;
    top: 20%;
    bottom: 40%;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul li {
    display: flex;
}

.hero-title h1 {
    color: #81304f;
    line-height: 1.4;
    font-weight: 900;
    margin: 20px 0 30px 0;
    width: 100%;
}



/**************** ABOUT *********************/

#about {
  background-color: #ffffff;
}

figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#about img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 60%;
    vertical-align: middle;
}




/**************** SKILLS *********************/

.skills-wrapper p {
    background-color: #F19494;
    padding: 15px 0;
    margin: 20px 0;
    flex-flow: row wrap;
    list-style: none;
}

.skill {
  width: 100%;
}


/**************** PROJECTS *********************/

#projects img {
  width: 60%;
}

#projects h2 {
  margin-top: 60px;
}

#projects h3 {
  margin-bottom: 20px;
}

#projects h4 {
  margin: 0 0 40px 0;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
}

/**************** FOOTER *********************/

footer {
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
}

footer .content-wrapper {
    width: 55%;
    margin: 10px 0;
}

.contact-header {
    color:#81304f;
}

footer p {
  margin: 20px 0;
}



.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



/******** Tablet Styles *********/

@media only screen and (min-width: 768px) {

    body {
      margin: 8px;
    }

}

/******** Desktop Styles *********/

@media only screen and (min-width: 1200px) {

  body {

  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

